@model FiestaInvitados.Models.InvitadosRespuesta
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gracias</title>
</head>
<body>
    <div>
        <h1>Gracias, @Model.Nombre!</h1>
        @if (Model.Asistira == true) {
            @:Que bien que asistirás. Las bebidas ya están en la hielera!
        } else {
            @:Una pena saber que no asistirás, pero gracias por avisarnos.
        }
    </div>
    Click <a asp-action="ListResponses">aquí</a> para ver quien asistirá.
</body>
</html>