@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Fiesta - Party!</title>
    </head>
    <body>
        <div>
            <div>
                Vamos a tener una gran fiesta. <br />
                (To do: Vender mejor la idea. Agregar imagenes o algo.)
            </div>
        </div>
    </body>
</html>
