@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Fiesta - Party!</title>
</head>

<body>
    <div>
        <div class="text-center">
            <h3>Vamos a tener una gran fiesta!!! </h3>
            <h4>Y TU estás invitado!</h4>
            <a class="btn btn-primary" asp-action="RsvpForm">Reserva ahora</a>
        </div>
    </div>
</body>

</html>
