@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Forma de Reservacion</title>
    </head>
    <body>
        <div>
            Esto es la forma RsvpForm.cshtml
        </div>
    </body>
</html>