@model IEnumerable<FiestaInvitados.Models.InvitadosRespuesta>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <title>Asistentes confirmados</title>
    </head>
    <body>
        <div class="text-center p-2">
        <h2>Personas que asistirán a la fiesta</h2>
        <table class="table table-bordered table-striped table-sm"> 
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody>
                @foreach (FiestaInvitados.Models.InvitadosRespuesta respuesta in Model)
                {
                    <tr>
                        <th>@respuesta.Nombre</th>
                        <th>@respuesta.Email</th>
                        <th>@respuesta.Telefono</th>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="index" class="btn btn-secondary">Regresar</a>
        </div>
    </body>
</html>